[submodule "pedido-pamonha"]
	path = pedido-pamonha
	url = https://github.com/filho-flavio/pedido-pamonha.git
[submodule "pagamento-pamonha"]
	path = pagamento-pamonha
	url = https://github.com/filho-flavio/pagamento-pamonha.git
[submodule "service-discovery-pamonha"]
	path = service-discovery-pamonha
	url = https://github.com/filho-flavio/service-discovery-pamonha.git
